.navBar {
  display: flex;
  justify-content: space-between;
}

.img-navBar {
  width: 3%;
}
img {
}

/* --------------------------------------------------------section 1-------------------------------------------------- */
.article {
  display: flex;
  justify-content: start;
}
.img-article {
  width: 20%;
}
.img-article2 {
  width: 20%;
}
